    <!-- Page Title Banner Start -->
    <section class="page_title_banner">
        <div class="container">
            <div class="content">
                <div class="title">
                    <h1>FAQ's</h1>
                    <img src="../../assets/media/shapes/tag-2.png" alt="" class="tag">
                </div>
                <div class="educate-tilt"
                    data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 2, "speed": 700, "scale": 1 }'>
                    <img src="../../assets/media/resources/page_title.png" alt="" class="main_img">
                </div>
                <img src="../../assets/media/shapes/circle-lines-2.png" alt="" class="circle_vector">
            </div>
        </div>
    </section>
    <!-- Page Title Banner End -->

    <!-- Faq Area Start -->
    <section class="faq py-60">
        <div class="container">
            <div class="row" id="accordionExample">
                <div class="col-lg-8">
                    <div class="faq-block">
                        <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#faq1" aria-expanded="true" aria-controls="faq1">What documents are required for an education loan for studying abroad?
                        </a>
                        <div id="faq1" class="accordion-collapse collapse " aria-labelledby="faq1"
                            data-bs-parent="#accordionExample">
                            <p>Documents check list:
<br>
                                STUDENT Required documents:
                                <br>
                                1. Colour passport size photograph
                                <br>
                                2. Pan card ,Passport and Aadhar card
                                <br>
                                3. 10th ,12th , Graduation Marksheet 
                                <br>
                                4. University offer Letter
                                <br>
                                6. Entrance Exam Score card IELTS/GRE/GMAT/SAT
                                <br>
                                <br>
                                CO-APPLICANT DOCUMENTS:
                                <br>
                                1. Colour passport size photograph
                                <br>
                                2. Pan card, Aadhar card 
                                <br>
                                3. Current and Permanent Address Proof (if address is different from aadhar card.)
                                <br>
                                4. Ownership proof: e-bill/water bill/sale deed with relationship proof 
                                <br><br>
                                
                                Income documents for co-applicant:
                                <br>
                                Salaried Case :
                                <br>
                                3 months salary slips, 6 months Salary Account Bank statement, 2 years Form 16 part A and Part B.
                                <br>
                                In case self-employed:
                                <br>
                                2 years ITR and computation of income , 6 months saving and current account Bank statement, GST Certificate</p>
                        </div>
                    </div>
                    <div class="faq-block">
                        <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#faq2" aria-expanded="true" aria-controls="faq2">Can I get an education loan without a co-signer?
                        </a>
                        <div id="faq2" class="accordion-collapse collapse " aria-labelledby="faq2"
                            data-bs-parent="#accordionExample">
                            <p>Yes, we required the co-signer. However co-signer can be financial or non-financial depending on the institute category.</p>
                        </div>
                    </div>
                    <div class="faq-block">
                        <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#faq3" aria-expanded="true" aria-controls="faq3">How long does it take to get an education loan approved?
                        </a>
                        <div id="faq3" class="accordion-collapse collapse " aria-labelledby="faq3"
                            data-bs-parent="#accordionExample">
                            <p>
                                If you directly approach a bank it may become a process of 10-15 days.
                                <br>
                                 For your benefit we at The UniFund can get your loan approved in 3-5 working days. 
                                <br>
                                However, ensuring secured Education Loans may take longer as it involves both techinical and legal assessment of the property.
                            </p>
                        </div>
                    </div>
                    <div class="faq-block">
                        <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#faq4" aria-expanded="true" aria-controls="faq4">Are there any tax benefits on education loans for studying abroad?
                        </a>
                        <div id="faq4" class="accordion-collapse collapse " aria-labelledby="faq4"
                            data-bs-parent="#accordionExample">
                            <p>Yes, there are tax benefits for education loans. 
                                <br>
                                                                Under Section 80E of the Income Tax Act, you can claim a deduction on the interest paid on an education loan for up to 8 years. There is no upper limit on the amount of interest you can claim.
                                                            <br>
                                                            Tax Collected at Source (TCS) = 0, during the time of remittance if you utilize funds from education loans, as per Budget 2025.
                                                            </p>
                        </div>
                    </div>
                    <div class="faq-block">
                        <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#faq5" aria-expanded="true" aria-controls="faq5">Can I get an education loan if my university is not listed by the lender?
                        </a>
                        <div id="faq5" class="accordion-collapse collapse " aria-labelledby="faq5"
                            data-bs-parent="#accordionExample">
                            <p>Yes, there are tax benefits for education loans. For example:
<br>
                                Under Section 80E of the Income Tax Act, you can claim a deduction on the interest paid on an education loan for up to 8 years. There is no upper limit on the amount of interest you can claim</p>
                        </div>
                    </div>

                    <div class="faq-block">
                        <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#faq6" aria-expanded="true" aria-controls="faq6">What happens if I can’t repay my education loan after returning from abroad?
                        </a>
                        <div id="faq6" class="accordion-collapse collapse " aria-labelledby="faq6"
                            data-bs-parent="#accordionExample">
                            <p>In such scenario you need to immediatly contact your bank to increase your morotorium period 
                                and bank have the wholesole rights to take the decision.
<br>
                                </p>
                        </div>
                    </div>

                    <div class="faq-block">
                        <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#faq7" aria-expanded="true" aria-controls="faq7">What fees does The UniFund charge?
                        </a>
                        <div id="faq7" class="accordion-collapse collapse " aria-labelledby="faq7"
                            data-bs-parent="#accordionExample">
                            <p>All the services at The UniFund are free of charge, even you will get rewarded if you apply through with us.</p>
                        </div>
                    </div>

                    <div class="faq-block">
                        <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#faq8" aria-expanded="true" aria-controls="faq8">Can I apply for a loan before receiving my admission letter?
                        </a>
                        <div id="faq8" class="accordion-collapse collapse " aria-labelledby="faq8"
                            data-bs-parent="#accordionExample">
                            <p>Yes, you can apply for the education loan even before your admission letter basis on your test score results and your previuos acadmics.</p>
                        </div>
                    </div>

                    <div class="faq-block">
                        <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#faq9" aria-expanded="true" aria-controls="faq9">Are there any hidden fees involved in taking an education loan?
                        </a>
                        <div id="faq9" class="accordion-collapse collapse " aria-labelledby="faq9"
                            data-bs-parent="#accordionExample">
                            <p>No, there is no hidden fee, we The UniFund assured you to give complete information on related fee from bank in advance.</p>
                        </div>
                    </div>

                    <!-- <div class="faq-block">
                        <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#faq10" aria-expanded="true" aria-controls="faq10">How is the loan disbursed once it’s approved?
                        </a>
                        <div id="faq10" class="accordion-collapse collapse " aria-labelledby="faq10"
                            data-bs-parent="#accordionExample">
                            <p></p>
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-4">
                    <h6 class="color-primary mb-8">–––– FAQ Form</h6>
                    <h2 class="mb-32">Ask Any Question <span class="fm-sec">You Want!</span></h2>
                    <form method="post" action="faq.html" class="form-validator">
                        <div class="mb-24">
                            <input type="text" class="form-control p_lg" id="name" name="name" required
                                placeholder="Your Name">
                        </div>
                        <div class="mb-24">
                            <input type="email" class="form-control p_lg" id="email" name="email" required
                                placeholder="email">
                        </div>
                        <div class="mb-24">
                            <textarea class="form-control p_lg" id="message" name="message" rows="4" required
                                placeholder="Message"></textarea>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="educate-btn"><span class="educate-btn__curve"></span>Send
                                Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Faq Area End -->

    <!-- Contact Banner Area Start -->
    <section class="pb-60">
        <div class="container">
            <div class="contact_banner">
                <h2 class="mb-8 color-white">Ask Any Questions <br><span class="fm-sec">You Want!</span></h2>
                <p class="mb-16 color-white">Contact on this number for any Questions!</p>
                <div class="mx-auto">
                    <a href="tel:123456789" class="h5 phone_number">+1 234 567 890</a>
                </div>
                <div class="icons">
                    <img src="../../assets/media/shapes/dots-1.png" alt="" class="element-1">
                    <img src="../../assets/media/shapes/vector-3.png" alt="" class="element-2">
                    <img src="../../assets/media/shapes/paint.png" alt="" class="element-3">
                    <img src="../../assets/media/shapes/vector-4.png" alt="" class="element-5">
                    <img src="../../assets/media/shapes/dots-1.png" alt="" class="element-4">
                    <img src="../../assets/media/shapes/tag.png" alt="" class="element-6">
                    <img src="../../assets/media/shapes/errow.png" alt="" class="element-7">
                    <img src="../../assets/media/shapes/circle-lines.png" alt="" class="element-8">
                    <img src="../../assets/media/shapes/mic-speaker.png" alt="" class="element-9">
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Banner Area End -->