 <!-- cursor style  -->
 <div class="custom-cursor__cursor"></div>
 <div class="custom-cursor__cursor-two"></div>


 <!-- Main Wrapper Start -->
 <div id="main-wrapper" class="main-wrapper">
 
   

     <!-- Page Title Banner Start -->
     <section class="page_title_banner">
         <div class="container">
             <div class="content">
                 <div class="title">
                     <h1>Contact Us</h1>
                     <img src="../../assets/media/shapes/tag-2.png" alt="" class="tag">
                 </div>
                 <div class="educate-tilt"
                     data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 2, "speed": 700, "scale": 1 }'>
                     <img src="../../assets/media/resources/page_title.png" alt="" class="main_img">
                 </div>
                 <img src="../../../../assets/media/shapes/circle-lines-2.png" alt="" class="circle_vector">
             </div>
         </div>
     </section>
     <!-- Page Title Banner End -->

     <!-- Contact Area Start -->
     <section class="py-60">
         <div class="container">
             <div class="row">
                 <div class="col-lg-6 mb-24 mb-lg-0">
                     <h6 class="color-primary mb-8">–––– Contact Form</h6>
                     <h2 class="mb-16">We Would Love To Hear From <span
                             class="fm-sec">You!</span></h2>
                     <p class="mb-32">Have questions or need assistance? We're here to help you every step of the way – reach out to us!</p>
                     <form class="contact-form form-validator">
                         <div class="row">
                             <div class="col-sm-6">
                                 <div class="mb-24">
                                     <input type="text" class="form-control p_lg" id="name" name="firstName"  [(ngModel)]="form.firstName" required
                                         placeholder="First Name">
                                 </div>
                             </div>
                             <div class="col-sm-6">
                                 <div class="mb-24">
                                     <input type="text" class="form-control p_lg" id="last-name" name="last-name" [(ngModel)]="form.lastName" 
                                         required placeholder="Last Name">
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-sm-6">
                                 <div class="mb-24">
                                     <input type="email" class="form-control p_lg" id="email" name="email" [(ngModel)]="form.email" required
                                         placeholder="Email">
                                 </div>
                             </div>
                             <div class="col-sm-6">
                                 <div class="mb-24">
                                     <input type="text" class="form-control p_lg" id="subject" name="subject" [(ngModel)]="form.subject"
                                         required placeholder="Subject">
                                 </div>
                             </div>
                         </div>
                         <div class="mb-24">
                             <textarea class="form-control p_lg" id="detail-message" name="message" rows="5" [(ngModel)]="form.message" required
                                 placeholder="Message"></textarea>
                         </div>
                         <div class="text-end">
                             <button class="educate-btn" (click)="onSubmit()"><span class="educate-btn__curve"></span>Send
                                 Message</button>
                         </div>
                         <!-- Alert Message -->
                         <div id="message" class="alert-msg"></div>
                     </form>
                 </div>
                 <div class="col-lg-6">
                     <div class="educate-tilt"
                         data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 2, "speed": 700, "scale": 1 }'>
                         <img src="../../assets/media/resources/contat.png" alt="">
                     </div>
                 </div>
             </div>
             <div class="contact_links pt-60">
                 <div class="row">
                     <div class="col-lg-4">
                         <div class="contact_link_block mb-48 mb-lg-0">
                             <div class="icon">
                                 <i class="fal fa-map-marker-alt"></i>
                             </div>
                             <h6 class="dark-gray">TS-1027, 10th Floor, Galaxy Blue Shappire Plaza, Noida, IND.</h6>
                         </div>
                     </div>
                     <div class="col-lg-4">
                         <a href="tel:7838008006" class="contact_link_block mb-48 mb-lg-0">
                             <div class="icon">
                                 <i class="fal fa-phone-alt"></i>
                             </div> 
                             <span class="h6">+91 783 800 800 6</span>
                         </a>
                     </div>
                     <div class="col-lg-4">
                         <a href="mailto:work@theunifund.com" class="contact_link_block">
                             <div class="icon">
                                 <i class="fal fa-envelope"></i>
                             </div>
                             <span class="h6">Mail Us </span>
                         </a>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <!-- Contact Area End -->

    

 </div>

 <!-- Mobile Menu Start -->
 <!-- <div class="mobile-nav__wrapper">
     <div class="mobile-nav__overlay mobile-nav__toggler"></div>
     <div class="mobile-nav__content">
         <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>
         <div class="logo-box">
             <a href="index.html" aria-label="logo image"><img src="../../assets/media/logo-light.png" alt="educate"></a>
         </div>
         <div class="mobile-nav__container"></div>
         <ul class="mobile-nav__contact list-unstyled">
             <li>
                 <i class="fas fa-envelope"></i>
                 <a href="">mail sample</a>
             </li>
             <li>
                 <i class="fa fa-phone-alt"></i>
                 <a href="tel:+12345678">+123 (4567) -890</a>
             </li>
         </ul>
         <div class="mobile-nav__social">
             <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
             <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
             <a href="https://www.pinterest.com/"><i class="fab fa-pinterest-p"></i></a>
             <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
         </div>
     </div>
 </div> -->
 <!-- Mobile Menu End -->

 <!-- <div class="search-popup">
     <div class="search-popup__overlay search-toggler"></div>
     <div class="search-popup__content">
         <form role="search" method="get" class="search-popup__form" action="index.html">
             <input type="text" id="search" placeholder="Search Here...">
             <button type="submit"><i class="fal fa-search"></i></button>
         </form>
     </div>
 </div> -->
 <!-- search-popup -->

 <!-- back-to-top-start -->
 <a href="#" class="scroll-top">
     <svg class="scroll-top__circle" width="100%" height="100%" viewBox="-1 -1 102 102">
         <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
     </svg>
 </a>
 <!-- back-to-top-end -->
