 <!-- Page Title Banner Start -->
 <section class="page_title_banner">
    <div class="container">
        <div class="content">
            <div class="title">
                <h1>About Us</h1>
                <img src="../../assets/media/shapes/tag-2.png" alt="" class="tag">
            </div>
            <div class="educate-tilt"
                data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 2, "speed": 700, "scale": 1 }'>
                <img src="../../assets/media/resources/page_title.png" alt="" class="main_img">
            </div>
            <img src="../../assets/media/shapes/circle-lines-2.png" alt="" class="circle_vector">
        </div>
    </div>
</section>
<!-- Page Title Banner End -->

<!-- About Area Start -->
<section class="py-60">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-48 mb-lg-0">
                <div class="heading mb-16">
                    <h6 class="color-primary mb-8">–––– About Us</h6>
                    <h2>Who are we <span class="fm-sec"></span></h2>
                </div>
                <p class="mb-32">We identify as a leading financial services company that specializes in facilitating education loans for students seeking to study abroad.</p>
                <div class="about__card mb-24 wow fadeInLeft" data-wow-delay="200ms">
                    <div class="about__card__icon">
                        <img src="../../assets/media/icons/Support.png" alt="">
                    </div>
                    <div class="about__card__content">
                        <h5 class="mb-4p">Tailored Financial Support for Students</h5>
                        <p>We provide reliable, transparent, and customized financial solutions to help 
                            students.</p>
                    </div>
                </div>
                <div class="about__card mb-24 wow fadeInLeft" data-wow-delay="400ms">
                    <div class="about__card__icon">
                        <img src="../../assets/media/icons/loupe.png" alt="">
                    </div>
                    <div class="about__card__content">
                        <h5 class="mb-4p">Transparent Loan Process</h5>
                        <p>Our goal is to make the loan application process straightforward and clear.
                        </p>
                    </div>
                </div>
                <div class="about__card mb-24 wow fadeInLeft" data-wow-delay="600ms">
                    <div class="about__card__icon">
                        <img src="../../assets/media/icons/educationglobe.png" alt="">
                    </div>
                    <div class="about__card__content">
                        <h5 class="mb-4p">Empowering Global Education Dreams</h5>
                        <p>We aim to make studying abroad accessible by offering flexible, affordable loan solutions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="educate-tilt"
                    data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 2, "speed": 700, "scale": 1 }'>
                    <img src="../../assets/media/resources/about-1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->


        <!-- join Team Area Start -->
        <!-- <section class="join_team py-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <h6 class="color-primary mb-8">–––– Who are we </h6>
                        
                        <p class="mb-32">We identify as a leading financial services company that 
                            specializes in facilitating education loans for students seeking to study 
                            abroad. With an understanding of the growing demand for international 
                            education, our mission is to provide reliable, transparent, and tailored 
                            financial support that helps students embark on their academic journeys 
                            without the burden of financial constraints.</p>
                        <div class="block mb-16">
                            <h5 class="mb-8">Our Principles</h5>
                            <p class="mb-16">Lorem ipsum dolor sit amet consectetur. Non convallis sed id aliquam
                                tempus. Volutpat tortor tincidunt egestas sit risus donec. Non convallis sed id aliquam
                                tempus. </p>
                            <ul class="unstyled rules">
                                <li class="mb-16"><i class="fal fa-check"></i>
                                    <p>Transparency -</p>
                                </li>
                                <li class="mb-16"><i class="fal fa-check"></i>
                                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                                </li>
                                <li class="mb-16"><i class="fal fa-check"></i>
                                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                                </li>
                            </ul>
                        </div>
                     
                    </div>
                    

                </div>
            </div>
        </section> -->
        <!-- join Team Area End -->

<!-- Benefits Area Start -->
<section class="benefits py-60">
    <div class="container">
        <div class="heading_block">
            <!-- <h6 class="color-primary mb-8">–––– Benefits</h6> -->
            <h2 class="mb-32">Our Principles <br><span class="fm-sec"></span></h2>
            <!-- <a href="courses.html" class="educate-btn"><span class="educate-btn__curve"></span>View All</a> -->
        </div>
        <div class="row">
            <div class="col-xxl-2 col-lg-3 col-sm-6 offset-xxl-2 card_block wow fadeInUp"
                data-wow-delay="200ms">
                <div class="feature__card mb-24 mb-xl-0">
                    <div class="feature__icon">
                        <img src="../../assets/media/icons/loupe.png" alt="">
                    </div>
                    <div class="feature__content">
                        <h5 class="mb-8">Transparency</h5>
                        <p>Clear communication about terms and conditions. </p>
                        <img src="../../assets/media/shapes/feture-bg-shape.png" alt="" class="feature-bg-shape">
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-sm-6 card_block wow fadeInUp" data-wow-delay="400ms">
                <div class="feature__card mb-24 mb-xl-0">
                    <div class="feature__icon">
                        <img src="../../assets/media/icons/Support.png" alt="">
                    </div>
                    <div class="feature__content">
                        <h5 class="mb-8">Real time support</h5>
                        <p>Timely updates on WhatsApp. </p>
                        <img src="../../assets/media/shapes/feture-bg-shape.png" alt="" class="feature-bg-shape">
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-sm-6 card_block wow fadeInUp" data-wow-delay="600ms">
                <div class="feature__card mb-24 mb-sm-0">
                    <div class="feature__icon">
                        <img src="../../assets/media/icons/Check-mark.png" alt="">
                    </div>
                    <div class="feature__content">
                        <h5 class="mb-8">Ethical Lending Practices</h5>
                        <p>Fair and responsible. </p>
                        <img src="../../assets/media/shapes/feture-bg-shape.png" alt="" class="feature-bg-shape">
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-sm-6 card_block wow fadeInUp" data-wow-delay="800ms">
                <div class="feature__card">
                    <div class="feature__icon">
                        <img src="../../assets/media/icons/time.png" alt="">
                    </div>
                    <div class="feature__content">
                        <h5 class="mb-8">Speed and Efficiency</h5>
                        <p>Fast and smooth loan application. </p>
                        <img src="../../assets/media/shapes/feture-bg-shape.png" alt="" class="feature-bg-shape">
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-sm-6 card_block wow fadeInUp d-xxl-block d-none" data-wow-delay="800ms">
                <div class="feature__card">
                    <div class="feature__icon">
                        <img src="../../assets/media/icons/Transfer.png" alt="">
                    </div>
                    <div class="feature__content">
                        <h5 class="mb-8">Daily Updates</h5>
                        <p>Lorem ipsum dolor sit amet consectetu. </p>
                        <img src="../../assets/media/shapes/feture-bg-shape.png" alt="" class="feature-bg-shape">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Benefits Area End -->

