<div class="container main">
    <div class="mt-3 d-flex justify-content-between">
        <button class="educate-btn sm d-xl-flex d-none" (click)="previousStep()"><span
            class="educate-btn__curve"></span>Previous</button>
        <label class="text-center">What's Your <strong>Admission Status</strong>?</label>
        <button class="educate-btn sm d-xl-flex d-none" (click)="nextStep()"><span
            class="educate-btn__curve"></span>Next</button>
      </div>

      <div class="row mt-5">
        <div class="col-md-4 mb-3" *ngFor="let status of admissionStatuses" (click)="selectStatus(status)">
          <div class="card h-100" [ngClass]="{'selected-card': selectedAdmissionStatus === status}">
            <div class="card-body d-flex align-items-center">
              <h5 class="card-title mb-0 w-100 text-center">{{status}}</h5>
            </div>
          </div>
        </div>
      </div>
</div>