<div *ngIf="isTransitioning" class="transition-screen">
  <img src="assets\media\backgrounds\transitionimage3.png" alt="Loading..." class="transition-image"/>
  <p class="transition-text">Boom, we can see your journey coming together</p>
</div>
<div class="container main">
  <app-progress-bar [currentStep]="4"></app-progress-bar>
    <div class="mt-3 d-flex justify-content-between align-items-center">
      <!-- <div class="flex-grow-1"> -->
        <div>
        <button class="educate-btn sm d-flex" (click)="previousStep()"><span
            class="educate-btn__curve"></span>Previous</button>
      </div>
      <div class="flex-grow-1" class="headingtext">
        <label class="text-center">What's Your <strong>Admission Status</strong>?</label>
      </div>
      <div [ngClass]="{
        'flex-grow-0': selectedAdmissionStatus !== ''}">
        <button *ngIf="selectedAdmissionStatus!== ''" class="educate-btn sm d-flex" (click)="nextStep()"><span
            class="educate-btn__curve"></span>Next</button>
      </div>
    </div>

      <div class="row mt-5">
        <div class="col-md-4 mb-3" *ngFor="let status of admissionStatuses" (click)="selectStatus(status)">
          <div class="card h-100" [ngClass]="{'selected-card': selectedAdmissionStatus === status}">
            <div class="card-body d-flex align-items-center">
              <h5 class="card-title mb-0 w-100 text-center">{{status}}</h5>
            </div>
          </div>
        </div>
      </div>
</div>