<div class="container main">
  <app-progress-bar [currentStep]="3"></app-progress-bar>
  <div class="mt-3 d-flex justify-content-between" style="padding-bottom: 15px;">
    <div>
    <button class="educate-btn sm d-flex" (click)="previousStep()"><span
        class="educate-btn__curve"></span>Previous</button>
    </div>
    <div>
      <!-- <div style="text-align: center"><img src="assets/media/icons/grade.png" alt="Program Icon" class="program-icon"></div>       -->
      <h4 class="text-center">Enter Your Test Scores</h4>
    </div>
    <div>
    <button class="educate-btn sm d-flex" (click)="nextStep()"><span
        class="educate-btn__curve"></span>Next</button>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="test-scores col-md-8">
      
      <div class="row">
        <div *ngFor="let test of testScores; let last = last" class="test-score-row row align-items-center py-2 border-bottom-step"
          >
          <!-- [ngClass]="{'border-bottom': !last}" -->
          <div class="col-md-4">
            <label class="test-label">{{ test.name }}</label>
          </div>
          <div class="col-md-5 d-flex">
            <div class="radio-group btn-group" role="group">
              <input type="radio" class="btn-check" name="{{ test.name }}" id="{{ test.name }}-not-applicable"
                [(ngModel)]="test.selected" [value]="'Not Applicable'">
              <label class="btn"
                [ngClass]="{'btn-primary': test.selected === 'Not Applicable', 
                            'btn-light': test.selected !== 'Not Applicable',
                            'btn-custom-primary': test.selected === 'Not Applicable'}"
                for="{{ test.name }}-not-applicable">Not Applicable</label>

              <input type="radio" class="btn-check" name="{{ test.name }}" id="{{ test.name }}-taken"
                [(ngModel)]="test.selected" [value]="'Taken'">
              <label class="btn"
                [ngClass]="{'btn-primary': test.selected === 'Taken', 
                          'btn-light': test.selected !== 'Taken',
                          'btn-custom-primary': test.selected === 'Taken'}"
                for="{{ test.name }}-taken">Taken</label>
            </div>
          </div>
          <div class="col-md-2">
            <input *ngIf="test.selected === 'Taken'" type="text" [(ngModel)]="test.score" placeholder="Enter Score" class="form-control score-input" #scoreInput [ngClass]="{'is-invalid': test.touched && !isValidScore(test.score)}">
            <div *ngIf="test.selected === 'Taken' && test.touched && !isValidScore(test.score)" class="text-danger">
              Please enter a valid score.
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3"><button class="educate-btn sm d-flex"
          (click)="selectNone()" style="padding: 8px 150px;"><span class="educate-btn__curve" (click)="selectNone()"></span>None of the
          Above</button>
      </div>

    </div>
  </div>

</div>