<div class="container" style="margin-top: 10rem !important; margin-bottom: 5rem !important;">
  <div class="row">
    <label class="text-center">Which <strong>University in {{country}}</strong> are you considering?</label>
</div>
    <div class="row justify-content-center" style="margin-top: 2rem;">
        <div class="select-container">
          <select class="form-select" [(ngModel)]="selectedUniversity" (change)="onUniversityChange()">
            <option value="" disabled selected>Select a University</option>
            <option *ngFor="let university of Universities" [value]="university">{{ university }}</option>
          </select>
        </div>
    </div>
</div>