<div class="container main">
  <div class="mt-3 d-flex justify-content-between">
    <button class="educate-btn sm d-xl-flex d-none" (click)="previousStep()"><span
        class="educate-btn__curve"></span>Previous</button>
    <button class="educate-btn sm d-xl-flex d-none" (click)="nextStep()"><span
        class="educate-btn__curve"></span>Next</button>
  </div>
  <div class="row">
    <label class="text-center">Which <strong>University in {{country}}</strong> are you considering?</label>
</div>
    <div class="row justify-content-center" style="margin-top: 2rem;">
        <div class="select-container">
          <select class="form-select" [(ngModel)]="selectedUniversity" (change)="onUniversityChange()">
            <option value="" disabled selected>Select a University</option>
            <option *ngFor="let university of Universities" [value]="university">{{ university }}</option>
          </select>
        </div>
    </div>
</div>