.card {
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .selected-card {
    background-color:#0aa6d7;
    color: white
  }
  .headingtext{
    font-size: 20px;
    text-align: center;
  }
  @media (max-width: 480px) {
    .headingtext{
      font-size: 17px;
      text-align: center;
    }
  }