<div class="container main">
  <div class="mt-3 d-flex align-items-center">
    <div class="mr-auto" *ngIf="showQuestionDiv">
      <button class="educate-btn sm d-xl-flex d-none" (click)="previousStep()">
        <span class="educate-btn__curve"></span>Previous
      </button>
    </div>
    <div class="mx-auto">
      <label *ngIf="showQuestionDiv">Have you already approached any bank for your Education Loan process? *</label>
      <!-- <label *ngIf="selectedOption === 'Yes'">Select Banks</label> -->
      <label *ngIf="!showQuestionDiv">We will have you connected to our<strong> Partner Banks</strong> based on your
        eligiblity.</label>
    </div>
  </div>

  <div class="d-flex flex-column align-items-center mt-3">

    <div *ngIf="showQuestionDiv">
      <div class="">
        <!-- <label>Have you already approached any bank for your Education Loan process? *</label> -->
        <select class="form-select" [(ngModel)]="selectedOption" (change)="onOptionChange()">
          <option value="">Choose one option</option>
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
      </div>

      <!-- <div *ngIf="selectedOption === 'No'" class="mt-3">
      <img src="../../../assets/media/BankImages/bank.jpg" alt="Bank Image" class="img-fluid" />
    </div> -->

      <div *ngIf="selectedOption === 'Yes'" class="mt-3 multi-select-width">
        <label>Select Banks</label>
        <div class="row">
          <div class="col-md-12">
            <ng-multiselect-dropdown [placeholder]="'Banks'" [settings]="dropdownSettings" [data]="bankList"
              [(ngModel)]="selectedBanks" (onSelect)="onBankSelect($event)" (onDeSelect)="onBankDeSelect($event)">
            </ng-multiselect-dropdown>
            <!-- (onSelectAll)="onSelectAll($event)" -->
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isLoading" class="loader-container">
      <div class="loader"></div>
    </div>
    <div style="margin-top: 3rem;margin-left: 9rem;">
      <div *ngIf="!showQuestionDiv">
        <!-- <label class="text-center">We will have you connected to our<strong> Partner Banks</strong> based on your eligiblity.</label> -->
        <!-- <img src="../../../assets/media/BankImages/bank.jpg" alt="Bank Image" class="img-fluid" /> -->
        <div class="row">
          <div class="col-md-3" *ngFor="let logo of filteredBankList">
            <img src={{logo.BankLogoUrl}} class="img-fluid circular-image" />
            <!-- <div>{{logo.BankName1}}</div> -->
          </div>
         </div>
      </div>
    </div>
  </div>

</div>