<div class="container">
  <div style="margin-top: 150px;">
    <form [formGroup]="stepOneForm"
          (ngSubmit)="stepOneSubmit()"
          autocomplete="off"
          novalidate
          #formRef="ngForm">
  
      <div class="input">
        <p class="note">If your file will qualify for login and sanction you will get rewarded.</p>
        <input type="text" id="mobileno" placeholder="Mobile Number" formControlName="mobileno"/>
        <span class="error" *ngIf="stepOneForm.controls['mobileno'].hasError('required') && formRef.submitted">Mobile Number is a required.
        </span>
      </div>
   
      <div class="button" style="margin-top: 50px;">
        <button class="button" (click)="openOtpPopup()">Get OTP</button>
      </div>
  
    </form>
  </div>
  </div>
  