    <!-- Footer Area Start -->
    <footer>
        <div class="footer_main py-60">
          <img src="assets/media/shapes/vector-7.png" alt="" class="vector_shape">
          <img src="assets/media/shapes/dots-1.png" alt="" class="dots">
          <div class="container">
            <div class="row">
              <div class="col-xl-3 ">
                <div class="footer_widget">
                  <a href="index.html" class="mb-8"><img src="assets/media/logo.png" alt=""></a>
                  <p class="description_text"></p>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-sm-6">
                <div class="footer_widget">
                  <h5 class="medium-black mb-16">Explore</h5>
                  <ul class="unstyled list">
                    <li><a href="/about-us"><i class="fad fa-chevron-right"></i>About Us</a></li>
                    <li><a href="/community"><i class="fad fa-chevron-right"></i>Community</a></li>
                    <!-- <li><a href="team-detail.html"><i class="fad fa-chevron-right"></i>Teacher’s Detail</a></li> -->
                  </ul>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="footer_widget">
                  <h5 class="medium-black mb-16">Quick Links</h5>
                  <ul class="unstyled list">
                    <li><a href="/loan-journey"><i class="fad fa-chevron-right"></i>Loan Eligibility Checker</a></li>
                    <li><a href="/taxcalc"><i class="fad fa-chevron-right"></i>Tax Saving Calculator</a></li>
                    <li><a href="/loanamountcalc"><i class="fad fa-chevron-right"></i>Required Loan Amount</a></li>
                    <li><a href="/emicalc"><i class="fad fa-chevron-right"></i>EMI Calculator</a></li>
                  </ul>
                </div>
              </div>
             
              <div class="col-xl-2 col-lg-3 col-sm-6">
                <div class="footer_widget">
                  <h5 class="medium-black mb-16">Information</h5>
                  <ul class="unstyled list">
                    <li><a href="/blogs"><i class="fad fa-chevron-right"></i>Blogs</a></li>
                    <li><a href="/faq"><i class="fad fa-chevron-right"></i>FAQ</a></li>
                    <li><a href="/process"><i class="fad fa-chevron-right"></i>Process</a></li>
                    <li><a href="/contact-us"><i class="fad fa-chevron-right"></i>Contact Us</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6">
                <div class="footer_widget">
                  <h5 class="medium-black mb-16">Contact Us</h5>
                  <ul class="unstyled list">
                    <li class="mb-16"><i class="fal fa-map-marker-alt"></i>1021, Gaur City Mall, Noida</li>
                    <li class="mb-16"><a href="mailto:info@example.com"><i
                          class="fal fa-envelope"></i>info&#64;theunifund.com</a></li>
                    <li><a href="tel:123456789"><i class="fal fa-phone-alt"></i>+91 999 567 890</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="bottom-row">
              <ul class="unstyled social_icons_list">
                <li>
                  <a href="https://www.instagram.com/the_uni.fund?igsh=MXdmZjA2M3l4OW02dA%3D%3D&utm_source=qr" target="_blank">
                    <img src="assets/media/icons/brands/Instagram.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="">
                    <img src="assets/media/icons/brands/Facebook.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="">
                    <img src="assets/media/icons/brands/Twitter.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/the-unifund/" target="_blank">
                    <img src="assets/media/icons/brands/Linkedin.png" alt="">
                  </a>
                </li>
              </ul>
              <!-- <div class="newsletter_block">
                <h5>Newsletter</h5>
                <form class="newsletter">
                  <input type="email" class="form-control" required placeholder="Your email">
                  <button type="submit" class="educate-btn sm"><span class="educate-btn__curve"></span>Subscribe</button>
                </form>
              </div> -->
            </div>
          </div>
        </div>
        <div class="copyright_row">
          <p>©{{currentYear}} The UniFund All Rights Reserved.</p>
        </div>
      </footer>
      <!-- Footer Area End -->