<!-- Hero Banner Start -->
<section class="hero-banner-1">
    <div class="container">
      <div class="icons">
        <img src="assets/media/shapes/ukflag.png" alt="" class="dollar wow zoomIn" data-wow-delay="400ms">
        <img src="assets/media/shapes/australia.png" alt="" class="mic wow zoomIn" data-wow-delay="500ms">
        <img src="assets/media/shapes/usflag.png" alt="" class="light wow zoomIn" data-wow-delay="600ms">
        <img src="assets/media/shapes/canada.png" alt="" class="camera wow zoomIn" data-wow-delay="700ms">
        <img src="assets/media/shapes/germany.png" alt="" class="light wow zoomIn" data-wow-delay="600ms">
        <img src="assets/media/shapes/india.png" alt="" class="camera wow zoomIn" data-wow-delay="700ms">
      </div>
      <div class="content">
        <div class="text_block wow fadeInUp" data-wow-delay="800ms">
          <div class="row">
            <div class="col-xl-6 col-lg-8">
              <img src="assets/media/shapes/tag.png" alt="" class="mb-24 tag wow slideInDown" data-wow-delay="550ms">
              <h3 class="mb-16 title">Dream for the Best <br> We'll handle the Rest 
                
                  </h3>
                  <p class="mb-24" style="font-style: italic;font-size: 25px;">Education Loan + Rewards = You Win
                     <span class="fm-sec" style="float: right; margin-top: 10%; margin-right: -6%;"> 
                <!-- <img src="../../assets/media/shapes/rewardnew.png" style="max-width: 50% !important;" alt="" class="rocket wow zoomIn"
                    data-wow-delay="700ms"> -->
                  </span>
                  </p>
             
              <div class="btn_block mb-48">
                <a routerLink="/step1" routerLinkActive="active" class="educate-btn" style="text-decoration:none;color:white "><span class="educate-btn__curve"></span>Start Your Loan Journey Now</a>
                <img src="assets/media/shapes/arrow.png" alt="" class="arrow">
              </div>
              <div>
              <h5>Get an introduction of your education loan journey</h5>
            </div>
              <div class="video-btn wow zoomIn" data-wow-delay="700ms">
               
                <img src="../../assets/media/banners/hero-banner-1/round-text new.png" alt="" class="text-vector">
                <a href="https://www.youtube.com/shorts/-DeSa9OONDo?si=vmTD9m6nNMJcQsY4" class="play-btn video-popup" target="_blank"><i
                    class="fas fa-play"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
     
      <img src="assets/media/banners/hero-banner-1/main-img.png" alt="" class="main-img">
    </div>
  </section>
  <!-- Hero Banner End -->
   <section class="margintop">
<app-process></app-process>
</section>
  <!-- Features Area Start -->
  <section class="py-60" style="margin-top: -70px;">
    <div class="container">
      <div class="section-title mb-48 justify-content-center">
        <div class="heading ">
          <h4 class="color-primary mb-8 justify-content-center"> Easy Education Loans For Global Learning</h4>
        </div>
        
      </div>
      <div class="row row-gap-4 justify-content-center">
        <div class="col-xl-3 col-sm-6 wow fadeInUp" data-wow-delay="200ms">
          <div class="feature__card mb-24 mb-xl-0">
            <div class="feature__icon">
              <img src="../../assets/media/icons/simplicity.png" alt="">
            </div>
            <div class="feature__content">
              <h5 class="mb-8">Simplified Process</h5>
              <p>With our dedicated support team, we aim to make the loan process seamless for you.</p>
              <img src="assets/media/shapes/feture-bg-shape.png" alt="" class="feature-bg-shape">
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 wow fadeInUp" data-wow-delay="400ms">
          <div class="feature__card mb-24 mb-xl-0">
            <div class="feature__icon">
              <img src="../../assets/media/icons/discount.png" alt="">
            </div>
            <div class="feature__content">
              <h5 class="mb-8">Low-Rate Options</h5>
              <p>Find competitive rates starting &#64; 8.99% * from our network of top Lender Institutions.</p>
              <img src="assets/media/shapes/feture-bg-shape.png" alt="" class="feature-bg-shape">
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 wow fadeInUp" data-wow-delay="600ms">
          <div class="feature__card mb-24 mb-sm-0">
            <div class="feature__icon">
              <img src="../../assets/media/icons/collateral.png" alt="">
            </div>
            <div class="feature__content">
              <h5 class="mb-8">Non-Collateral Loan</h5>
              <p>Apply for unsecured loans,upto 2 Cr. without worrying about collateral securities. </p>
              <img src="assets/media/shapes/feture-bg-shape.png" alt="" class="feature-bg-shape">
            </div>
          </div>
        </div>
        </div>
        <div class="row row-gap-4 justify-content-center">
        <div class="col-xl-3 col-sm-6 wow fadeInUp" data-wow-delay="800ms">
          <div class="feature__card">
            <div class="feature__icon">
              <img src="../../assets/media/icons/nohiddencost.png" alt="">
            </div>
            <div class="feature__content">
              <h5 class="mb-8">No Hidden Costs</h5>
              <p>At UniFund, we believe in transparently sharing details with our students without any charge.</p>
              <img src="assets/media/shapes/feture-bg-shape.png" alt="" class="feature-bg-shape">
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 wow fadeInUp" data-wow-delay="800ms">
          <div class="feature__card">
            <div class="feature__icon">
              <img src="assets/media/icons/Support.png" alt="">
            </div>
            <div class="feature__content">
              <h5 class="mb-8">Continuous Updates</h5>
              <p>A dedicated support team provides you constant updates about the loan process. </p>
              <img src="assets/media/shapes/feture-bg-shape.png" alt="" class="feature-bg-shape">
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 wow fadeInUp" data-wow-delay="800ms">
          <div class="feature__card">
            <div class="feature__icon">
              <img src="../../assets/media/icons/pig.png" alt="">
            </div>
            <div class="feature__content">
              <h5 class="mb-8">Tax Savings</h5>
              <p> Under Section 80E, receive unlimited tax savings on the interest paid upto 8 years.</p>
              <img src="assets/media/shapes/feture-bg-shape.png" alt="" class="feature-bg-shape">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Features Area End -->

  <!-- About Area Start -->
  <!-- <section class="py-60">
  
  </section> -->
  <!-- About Area End -->
<!-- Tools utility section starts -->
  <section class="py-60" style="margin-bottom: 4%;" >
   
    <div class="section-title mb-48 justify-content-center">
      <div class="heading" style="padding-bottom: 50px;margin-top: -15%;">
        <h4 class="color-primary mb-8 justify-content-center"> Smart Study Stats</h4>
      </div>
      
    </div>
    <br>
    <div class="circle-container">
      <div class="center-image">
        <img src="../../assets/media/backgrounds/boy1.png" alt="Center Image">
      </div>
      
      <div *ngFor="let block of textBlocks; let i = index" 
      class="text-block" 
      [class.active]="activeIndex === i" 
      (click)="goToTools(i)"
      [style.transform]="'rotate(' + (i * 100) + 'deg) translate(240px) rotate(-' + (i * 100) + 'deg)'">
   <h4>{{ block.title }}</h4>
   <p style="font-style: italic;">{{ block.text }}</p>
 </div>
    </div>

  </section>
  <!-- Tools utility section End -->
  

  <!-- Brands Area Start -->
<div class="py-80 bg-white">
  <div class="brands-slider marquee">
    <div class="marquee-content">
      <div class="brand">
        <img src="assets/media/brand/barnd-1.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-2.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-3.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-4.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-5.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-6.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-7.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-8.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-9.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-10.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-11.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-12.png" alt="">
      </div>
      <!-- Repeat the brands to create a continuous loop -->
      <div class="brand">
        <img src="assets/media/brand/barnd-1.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-2.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-3.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-4.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-5.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-6.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-7.png" alt="">
      </div>
      <!-- <div class="brand">
        <img src="assets/media/brand/barnd-8.png" alt="">
      </div> -->
      <div class="brand">
        <img src="assets/media/brand/barnd-9.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-10.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-11.png" alt="">
      </div>
      <div class="brand">
        <img src="assets/media/brand/barnd-12.png" alt="">
      </div>
    </div>
  </div>
</div>
  <!-- Brands Area End -->

  <!-- Courses Category Area Start -->
  <section class="py-60 ">
    <div class="container">
      <div class="section-title mb-48">
        
       
          <div class="heading">
            <h4 class="color-primary mb-8 justify-content-center"> Your Resource Kit for Success</h4>
        </div>
        <a href="courses.html" class="educate-btn d-md-block d-none"><span class="educate-btn__curve"></span>View
          All</a>
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="150ms">
          <div class="course__category__card_1 mb-24">
            <div class="course__category__card_text">
              <a href="/process" class="course__category__card_title h4 mb-16">Step-by-Step Process</a>
              <p class="mb-40">From start to approval, we’ve got you covered!
                When person clicks on this, he is directed to the process section
                .</p>
             
            </div>
            <img src="assets/media/courses/categories/c-1.png" alt="" class="image">
          </div>
        </div>
        <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
          <div class="course__category__card_1 mb-24">
            <div class="course__category__card_text">
              <a href="/blogs" class="course__category__card_title h4 mb-16">Blogs </a>
              <p class="mb-40">Got the passion for studying abroad but confused? We’ve got the guide to your education abroad and funding it!</p>
             
            </div>
            <img src="assets/media/courses/categories/c-2.png" alt="" class="image">
          </div>
        </div>
        <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="450ms">
          <div class="course__category__card_1 mb-24">
            <div class="course__category__card_text">
              <a href="/faq" class="course__category__card_title h4 mb-16">Frequently Asked Questions</a>
              <p class="mb-40">Got loan-related queries? We’ve got the answers!</p>
              
            </div>
            <img src="assets/media/courses/categories/c-4.png" alt="" class="image">
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- Courses Category Area End -->

  <!-- Courses Area Start -->
<section class="courses-1 py-60">
  <div class="container">
    <div class="section-title mb-48">
      <div class="heading">
        <h2>Testimonials</h2>
      </div>
      <a href="courses.html" class="educate-btn d-md-block d-none"><span class="educate-btn__curve"></span>View All</a>
    </div>
  </div>
  <div class="courses-slider marquee">
    <div class="marquee-content">
      <!-- Slide Item  -->
      <div class="course__card mb-24">
        <div class="course__card__icon">
          <img src="assets/media/icons/cap.png" alt="">
        </div>
        <div class="course__card__content">
          <div class="left__block">
            <h4 class="mb-4p"><a href="course-detail.html">Sayesha Mathur</a></h4>
            <p class="h6 mb-24">MSc in Data Science, University of London</p>
            <p>"I never imagined studying abroad could be this easy! The UniFund made the loan process so simple and helped me with every step. Thanks to The UniFund, I was able to pursue my dream of studying in the UK without worrying about finances.”</p>
            <div class="author_card" style="margin-top: 15px;">
              <img src="assets/media/courses/authors/a-1.jpg" alt="" class="author_img">
              <!-- <div class="author_text_block">
                <a href="team-detail.html" class="h6 mb-4p">Benny Martin</a>
                <p>Adobe Embassador</p>
              </div> -->
            </div>
          </div>
          <img src="assets/media/shapes/vector-1.png" alt="" class="bottom_vector">
        </div>
      </div>
      <!-- Repeat the slide items to create a continuous loop -->
      
      <div class="course__card mb-24">
        <div class="course__card__icon">
          <img src="assets/media/icons/cap.png" alt="">
        </div>
        <div class="course__card__content">
          <div class="left__block">
            <h4 class="mb-4p"><a href="course-detail.html">Kanika Mishra</a></h4>
            <p class="h6 mb-24">MBA, University of British Columbia</p>
            <p>"When I decided to study in Canada, I didn’t know where to begin with financing. The UniFund made the whole process seamless. Their team helped me with everything from choosing the right loan options to getting my loan sanctioned in a way I could understand. “</p>
            <div class="author_card" style="margin-top: 15px;">
              <img src="assets/media/courses/authors/a-6.jpg" alt="" class="author_img">
              <!-- <div class="author_text_block">
                <a href="team-detail.html" class="h6 mb-4p">Ava Johnson</a>
                <p>Web Designer</p>
              </div>-->
            </div> 
          </div>
          <img src="assets/media/shapes/vector-1.png" alt="" class="bottom_vector">
        </div>
      </div>
      <div class="course__card mb-24">
        <div class="course__card__icon">
          <img src="assets/media/icons/cap.png" alt="">
        </div>
        <div class="course__card__content">
          <div class="left__block">
            <h4 class="mb-4p"><a href="course-detail.html">Samar K.</a></h4>
            <p class="h6 mb-24">BBA, University of Singapore</p>
            <p>"Applying for a loan through The UniFund was a smooth experience from start to finish. They helped me choose the right loan package, explained the terms clearly, and made sure I had all the information, I needed to make an informed decision.”</p>
            <div class="author_card" style="margin-top: 15px;">
              <img src="assets/media/courses/authors/a-4.jpg" alt="" class="author_img">
              <!-- <div class="author_text_block">
                <a href="team-detail.html" class="h6 mb-4p">Emma Mitchell</a>
                <p>Ui Engineer</p>
              </div> -->
            </div>
          </div>
          <img src="assets/media/shapes/vector-1.png" alt="" class="bottom_vector">
        </div>
      </div>
      <div class="course__card mb-24">
        <div class="course__card__icon">
          <img src="assets/media/icons/cap.png" alt="">
        </div>
        <div class="course__card__content">
          <div class="left__block">
            <h4 class="mb-4p"><a href="course-detail.html">Kanishk Kar</a></h4>
            <p class="h6 mb-24">MA in Fine Arts, University of Edinburgh</p>
            <p>"When I first looked into financing my studies abroad, I wasn’t sure where to turn. That’s when I came across The UniFund. From the very beginning, their team was attentive, friendly, and committed to making sure I understood the loan terms."</p>
            <div class="author_card" style="margin-top: 15px;">
              <img src="assets/media/courses/authors/a-5.jpg" alt="" class="author_img">
              <!-- <div class="author_text_block">
                <a href="team-detail.html" class="h6 mb-4p">Benny Martin</a>
                <p>Adobe Embassador</p>
              </div> -->
            </div>
          </div>
          <img src="assets/media/shapes/vector-1.png" alt="" class="bottom_vector">
        </div>
      </div>
      <div class="course__card mb-24">
        <div class="course__card__icon">
          <img src="assets/media/icons/cap.png" alt="">
        </div>
        <div class="course__card__content">
          <div class="left__block">
            <h4 class="mb-4p"><a href="course-detail.html">Sonika Chawla</a></h4>
            <p class="h6 mb-24">MBA, Stanford University</p>
            <p>"As an international student from India, I wasn’t sure if I could get the funding I needed to study in the US. But The UniFund made it so simple! Their team helped me understand the entire loan process, and worked with me to find the best financial plan for my needs."</p>
            <div class="author_card" style="margin-top: 15px;min-height:50px;">
              <img src="assets/media/courses/authors/a-2.jpg" alt="" class="author_img">
              <!-- <div class="author_text_block">
                <a href="team-detail.html" class="h6 mb-4p">Miller Noah</a>
                <p>Senior Designer</p>
              </div> -->
            </div>
          </div>
          <img src="assets/media/shapes/vector-1.png" alt="" class="bottom_vector">
        </div>
      </div>
      <!-- Repeat the testimonials to create a continuous loop -->
      
      
      
      
      
      
    </div>
  </div>
</section>
  <!-- Courses Area End -->

  

  <!-- Discount Banner Area Start -->
  <section class="discount_banner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-5">
          <div class="banner_text_block">
            <div class="title_block mb-16">
              <h2 class="title">Stop
                <span class="fm-sec">wasting your time!
                  <img src="assets/media/shapes/line-vector.png" alt="" class="line_shape">
                  <img src="assets/media/shapes/mic-speaker.png" alt="" class="mic_speaker">
                </span>
              </h2>
            </div>
            <h4 class="mb-12">Start your Education Loan Journey Today!
            </h4>
            <p class="mb-24">"Don’t let time slip away—apply for your education loan today and secure 
              the funding you need to make your study abroad dreams a reality before the deadlines hit!"</p>
            <a href="/loan-journey" class="educate-btn"><span class="educate-btn__curve"></span>Apply Now</a>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7">
          <div class="discount_countdown">
            <div class="dial">
              <ul class="top-remain">
                <li class=" remain-count">02</li>
                <li class=" remain-count">01</li>
                <li class=" remain-count">00</li>
              </ul>
              <ul class="top-coming">
                <li>02</li>
                <li>01</li>
                <li>00</li>
              </ul>
            </div>
            <img src="assets/media/shapes/paint-shape.png" alt="" class="paint_shape">
            <ul class="countdown unstyled">
              <li>
                <h2>365</h2>
                <h6>Days</h6>
              </li>
              <li>
                <h2>24</h2>
                <h6>Hrs</h6>
              </li>
              <li>
                <h2>60</h2>
                <h6>Min</h6>
              </li>
              <li>
                <h2><span>60</span></h2>
                <h6>Sec</h6>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Discount Banner Area End -->
  

    <!-- Contact Banner Area Start -->
    <section class="py-60 ">
      <div class="container">
        <div class="contact_banner">
          <h2 class="mb-8 color-white">Ask Any Questions <br><span class="fm-sec">You Want!</span></h2>
          <p class="mb-16 color-white">Contact on this number for any Questions!</p>
          <div class="mx-auto">
            <a href="tel:7838008006" class="h5 phone_number">+91 783 800 800 6</a>
          </div>
          <div class="icons">
            <img src="assets/media/shapes/dots-1.png" alt="" class="element-1">
            <img src="assets/media/shapes/vector-3.png" alt="" class="element-2">
            <img src="assets/media/shapes/bookblue.png" alt="" class="element-3">
            <img src="assets/media/shapes/vector-4.png" alt="" class="element-5">
            <img src="assets/media/shapes/dots-1.png" alt="" class="element-4">
            <img src="assets/media/shapes/cap.png" alt="" class="element-6">
            <img src="assets/media/shapes/errow.png" alt="" class="element-7">
            <img src="assets/media/shapes/circle-lines.png" alt="" class="element-8">
            <img src="assets/media/shapes/mic-speaker.png" alt="" class="element-9">
          </div>
        </div>
      </div>
    </section>

    
    <!-- Contact Banner Area End -->